


@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 30px var(--h3Color), 0 0 40px var(--h3Color), 0 0 70px var(--h3Color),
      0 0 80px var(--h3Color), 0 0 90px var(--h3Color);
  }

  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff,
      0 0 10px var(--h3Color), 0 0 35px var(--h3Color), 0 0 45px var(--h3Color),
      0 0 60px var(--h3Color), 0 0 70px var(--h3Color);
  }
}

section {
  padding-top: 4em;
}

/* barre recherche pays */

.recherchePays {
  display: flex;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  font-weight: bold;
  padding-bottom: 1em;
  padding-top: 0.3em;
  border-radius: 1em 1em 0 0;
  font-family: var(--primaryfont);
  background-color: rgb(0, 0, 0, 0.8);
}

/*Tournée*/

.tableTournee::-webkit-scrollbar {
  width: 0 !important;
}

.tableTournee {
  margin: auto;
  margin-top: 0;
  margin-bottom: 2em;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: start;
  overflow: scroll;
  width: max-content;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 35em;
  width: 80%;
  border: 0.2rem solid #bc13fe;
  border-radius: 0 0 2em 2em;
  padding: 0.4em;
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}



td {
  text-align: center;
  font-family: var(--primaryfont);
  border-bottom: yellow;
  border-style: dotted;
  border-left: none;
  border-right: none;
  border-top: none;
  border-collapse: collapse;
  background-color: rgb(0, 0, 0, 0.8);
}


tr {
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
  z-index: 2;
}

td {
  border: none;
  font-size: 1.5em;
  padding: none;
  margin: 0em;
}

tbody {
  width: 100%;
}


.datesTournee {
  font-weight: bold;
  border-top: dotted;
  border-color: var(--h2Color);
  padding-top: 1em;
}

.lieuxTournee {
  font-style: italic;
  font-size: 0.8em;
}

th {
  text-align: left;
  font-size: 1.5em;
  font-family: var(--primaryfont);
  padding: 1em;
  margin: 0;
  border: none;
  width: fit-content;
  z-index: 1;
}

/*Jeu concours*/
.jeuConcours {
  background-color: rgb(128, 0, 128, 0.5);
  font-family: var(--primaryfont);
  width: 80%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 0;

  text-align: center;
  color: var(--primaryColor);
  border: 0.2rem solid #bc13fe;
  border-radius: 1em 1em 0 0;
  padding: 0.4em;
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

.textjeuConcours {
  color: white;
  font-size: 1.1em;
  padding: 1em;
}

.consignesConcours {
  color: white;
  font-size: 0.9em;
  padding: 1em;
}

form {
  background-color: rgb(0, 0, 0, 0.5);
  font-family: var(--primaryfont);
  width: 85%;
  margin: auto;
  text-align: center;
  color: var(--primaryColor);
  border-radius: 0 0 1em 1em;
  padding-top: 1em;
}

form > div {
  margin-bottom: 20px;
}

.entreesForm {
  padding: 3px;
}
input,
select {
  border-radius: 5px;
  border: none;
  font-family: var(--primaryfont);
}

.boutondenvoi {
  display: inline-block;
  padding: 1em;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: var(--altPrimaryColor);
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-family: var(--h2font);
  color: var(--h1Color);
}

.boutondenvoi:hover {
  background-color: #32fce4;
}
.boutondenvoi:active {
  background-color: #0effdf;
  transform: translateY(4px);
}

/*Vue Desktop*/

@media screen and (min-width: 991px) {
  h2 {
    font-size: 4.5rem;
    animation: pulsate 2s ease-in-out infinite alternate;
  }

  @keyframes pulsate {
    100% {
      text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
        0 0 30px var(--h3Color), 0 0 40px var(--h3Color),
        0 0 70px var(--h3Color), 0 0 80px var(--h3Color),
        0 0 90px var(--h3Color);
    }

    0% {
      text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff,
        0 0 10px var(--h3Color), 0 0 35px var(--h3Color),
        0 0 45px var(--h3Color), 0 0 60px var(--h3Color),
        0 0 70px var(--h3Color);
    }
  }

  h3 {
    font-size: 2.5em;
    padding-left: 35vw;
    color: var(--h2Color);
  }

  /*Jeu Concours*/

  .confirmationParticipation {
    font-weight: bold;
  }

  .jeuConcours {
    background-color: rgb(128, 0, 128, 0.5);
    font-family: var(--primaryfont);
    width: 70%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1em;

    text-align: center;
    color: var(--primaryColor);
    border: 0.2rem solid #bc13fe;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #bc13fe,
      0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  }

  .textjeuConcours {
    color: white;
    font-size: 1.3em;
    padding: 1em;
    padding-right: 4em;
    padding-left: 4em;
  }

  .consignesConcours {
    color: white;
    font-size: 1.1em;
    padding: 1em;
    padding-right: 4em;
    padding-left: 4em;
  }

  form {
    background-color: rgb(0, 0, 0, 0.5);
    font-family: var(--primaryfont);
    width: 70%;
    margin: auto;
    text-align: center;
    color: var(--primaryColor);
    border-radius: 2rem;
    padding-top: 2em;
  }

  form > div {
    margin-bottom: 20px;
  }

  .entreesForm {
    padding: 3px;
  }
  input,
  select {
    border-radius: 5px;
    border: none;
    font-family: var(--primaryfont);
  }

  .boutondenvoi {
    display: inline-block;
    padding: 1em;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: var(--altPrimaryColor);
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-family: var(--h2font);
    color: var(--h1Color);
  }

  .boutondenvoi:hover {
    background-color: #32fce4;
  }
  .boutondenvoi:active {
    background-color: #0effdf;
    transform: translateY(4px);
  }

  .confirmationParticipation {
    padding-bottom: 2em;
  }
  /*barre recherche pays*/
  .recherchePays {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 2em;
    border-radius: 20px 20px 0 0;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: var(--primaryfont);
    background-color: rgb(0, 0, 0, 0.8);
  }

  .zoneRecherche {
    padding-left: 1em;
    padding-right: 1em;
    height: 2em;
  }

  /*tableau tournée*/
  .tableTournee {
    display: block;
    margin: auto;
    margin-top: 0;
    margin-bottom: 2em;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: scroll;
    width: 80%;
    height: 35em;
    border-collapse: collapse;
    border-radius: 0 0 2em 2em;
    border: 0.2rem solid #bc13fe;
    box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #bc13fe,
      0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  }

  .tableTournee::-webkit-scrollbar {
    width: 0 !important;
  }

  .headtabletournee {
    display: table-header-group;
    visibility: visible;
    background-color: var(--h3Color);
    position: sticky;
    top: 0;
    z-index: 1;
    width: auto;
  }

  td {
    display: table-cell;
    text-align: center;
    font-family: var(--primaryfont);
    padding: 1em;
    border-bottom: yellow;
    border-style: dotted;
    border-left: none;
    border-right: none;
    border-top: none;
    border-collapse: collapse;
    background-color: rgb(0, 0, 0, 0.8);
  }

  tr {
    display: table-row;
  }
  th {
    visibility: show;
    height: fit-content;
    text-align: center;
    font-family: var(--primaryfont);
    padding-top: 1em;
    padding-bottom: 1em;
    width: 60vw;
  }

  .lieuxTournee {
    font-style: italic;
  }

  .datesTournee {
    font-weight: bold;
    border-top: none;
  }
}
