@media screen and (min-width:991px) {

    * {
        overflow: initial;
    }

    /* HEADER VERSION DESKTOP*/
    .sticky {
        position: sticky;
        top: 0;
        z-index: 99;
        background-color: var(--backgroundColor);
    }

    header {

        height: 50vh;
        background-color: var(--backgroundColor);

    }

    .imageTitre {
        padding-top: 10vh;
        width: 100%;
    }

    .menu-toggle {
        display: none;
    }

    .mobile-menu.active {
        display: none;
    }

    .mobile-menu li {
        display: none;
    }

    .menu {
        display: visible;
    }

    .menu a {
        color: #f8f804;
        text-decoration: none;
        font-family: var(--h2font);
        text-transform: uppercase;
        font-size: 1.5em;
    }

    .listemenu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
       
        width: 100%;
        padding: 1em;
        background-color: var(--backgroundColor);
    }

    .menu {
        position: sticky;
        top: 0px;
    }


    /* CARROUSEL VERSION DESKTOP*/

    .carouselAll {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        background-color: transparent;
    }

    .carouselList {
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(7, 40%);
        grid-template-rows: 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        overflow: scroll;
        max-height: 50%;
        scroll-snap-type: both mandatory;
        scroll-padding: 1rem;
    }

    .active {
        scroll-snap-type: unset;
    }

    .liCarousel {
        scroll-snap-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 3px;
        color: black;
        gap: 2em;
    }

    .imgCarousel {
        max-width: 60%;
        max-height: 60%;


    }

    /* TOURNÉE VERSION DESKTOP*/

    h2 {
        font-size: 4.5rem;

    }

    h3 {
        font-size: 2.5em;
        padding-left: 35vw;
        color: var(--h2Color);
    }

    /*Jeu Concours*/

    .titreJeu {
        padding-top: 50px;
    }

    .confirmationParticipation {
        font-weight: bold;
    }

    .jeuConcours {
        background-color: #131313;
        font-family: var(--primaryfont);
        width: 70%;
        margin: auto;
        margin-top: 2em;
        text-align: center;
        color: #E3E3E3;
        border-radius: 2rem;
    }

    .labels {
        display: none
    }

    .caseformulaire {
        padding: 1.3em;
        width: 40%;
        background-color: #E3E3E3;
        border: solid 0.2em #F8F804;
    }

    .textjeuConcours {
        color: #e3e3e3;
        font-size: 1.3em;
        padding: 1em;
        padding-right: 5em;
        padding-left: 5em;
    }

    .consignesConcours {
        color: #E3E3E3;
        font-size: 1.1em;
        padding: 1em;
        padding-right: 5em;
        padding-left: 5em;
    }

    form {
        background-color: rgb(0, 0, 0, 0.5);
        font-family: var(--primaryfont);
        width: 70%;
        margin: auto;
        text-align: center;
        color: #E3E3E3;
        border-radius: 2rem;
        padding-top: 2em;
    }

    form>div {
        margin-bottom: 20px;
    }

    .entreesForm {
        padding: 3px;
    }

    input,
    select {
        border-radius: 5px;
        border: none;
        font-family: var(--primaryfont);
    }

    .boutondenvoi {
        display: inline-block;
        padding: 1em;
        font-size: 1em;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: black;
        background-color: var(--altPrimaryColor);
        border: none;
        border-radius: 30px;
        font-size: 1rem;
        font-family: var(--h2font);
        color: var(--h1Color);
    }

    .boutondenvoi:hover {
        background-color: #12C2D9;
    }

    .boutondenvoi:active {
        background-color: #0EFFDF;
        transform: translateY(4px);
    }

    .confirmationParticipation {
        padding-bottom: 2em;
    }

    /*barre recherche pays*/
    .recherchePays {
        color: #E3E3E3;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: fit-content;
        width: 80%;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 0px;
        border-radius: 20px 20px 0 0;
        font-weight: bold;
        font-family: var(--primaryfont);
        background-color: rgb(0, 0, 0, 0.8);
    }

    .zoneRecherche {
        padding-left: 1em;
        padding-right: 1em;
        height: 2em;
    }

    /*tableau tournée*/
    .tableTournee {
        display: block;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        overflow: scroll;
        width: 80%;
        height: 35em;
        padding: 0px;
        padding-bottom: 0px;
        border-collapse: collapse;
        border-radius: 0 0 0 0;
        border: 2px solid #12C2D9;
        box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #12C2D9,
            0 0 0.8rem #12C2D9, 0 0 2.8rem #12C2D9, inset 0 0 1.3rem #12C2D9;
    }

    .tableTournee::-webkit-scrollbar {
        width: 0 !important;
    }

    .headtabletournee {
        display: table-header-group;
        visibility: visible;
        position: sticky;
        top: 0px;
        z-index: 1;
        width: auto;
    }

    td {
        color: #e3e3e3;
        display: table-cell;
        text-align: center;
        font-family: var(--primaryfont);
        padding: 1em;
        border-bottom: #8F8E7C;
        border-style: solid;
        border-left: none;
        border-right: none;
        border-top: none;
        border-collapse: collapse;
        background-color: rgb(0, 0, 0, 0.8);
    }

    tr {
        display: table-row;
    }

    th {
        background-color: #1B1919;
        color: #f4e724;
        visibility: show;
        text-align: center;
        font-family: “orbitron”;
        width: 60vw;
    }

    .lieuxTournee {
        font-style: italic;
    }

    .datesTournee {
        font-weight: bold;
        border-top: none;
    }







    /* CLIP VERSION DESKTOP*/

    #clipcards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 90px;
        padding-top: 7%;
    }

    #clip1,
    #clip2 {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;
        min-height: 3em;
        padding: 1em 1em;
        margin: auto;
        background-color: #1b1919;
        text-align: center;
        border: 0.5rem solid #f4e724;
        border-radius: 2rem;
        width: 500px;

    }

    #clip2 {
        margin-top: 0;
    }

    #ClipVideo1,
    #ClipVideo2 {
        /* background-color: rgb(128, 0, 128, 0.5); */
        text-align: center;
        border: 0.2rem solid #f4e724;
        border-radius: 2rem;
        height: 300px;
        width: 500px;
    }


    #clipinfo {
        display: flex;
        align-items: center;
        font-family: var(--primaryfont);
        color: #fffb00;
        padding-top: 0.5em;
    }

    /* HISTOIRE VERSION DESKTOP*/

    .history {
        height: 100%;
        background-image: url("Images/Samurai1.png");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*Rajout d'une div pour contrôler la fenêtre incluant le texte*/
    .history-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .history p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15pt;
        opacity: 2;
        padding: 2em 2em;
        color: var(--altPrimaryColor);
        line-height: 1.5;
    }


    /* CREW VERSION DESKTOP */

    .crew {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding-top: 5%;
        margin-right: 10%;
        margin-left: 10%;
    }

    #crewPhoto1 {
        margin-left: -5%;
        margin-top: 0;
    }

    #overlayCrewLeft {
        margin-left: 0;
        padding: 2% 2%;
    }

    #crewLeft {
        padding-top: 0%;
    }

    #crewRight {
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .crewLeftTitle {
        color: #f4e724;
        text-align: right;
        padding-bottom: 3%;
        margin-left: 4em;
        justify-content: flex-start;
        display: flex;
        font-family: oswald;
        font-size: x-large;
    }

    .crewLeftInfo {
        margin-left: 6em;
        justify-content: flex-start;
        text-align: left;
    }

    #crewPhoto2 {
        margin-top: 0;
        margin-right: -5%;
    }

    #overlayCrewRight {
        margin-right: 0;
        padding: 2% 2%;
    }

    .crewRightTitle {
        color: #f4e724;
        text-align: right;
        padding-bottom: 3%;
        margin-right: 4em;
        justify-content: flex-end;
        display: flex;
        font-family: oswald;
        font-size: x-large;
    }

    .crewRightInfo {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        text-align: right;
        margin-right: 6em;
    }

    /* FOOTER VERSION DESKTOP */
    footer {
        /* background: #131313; */
        color: #fff;
    }
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 240px;
        margin-top: 15px;
    }
    .bar-footer {
        width: 76px;
        height: 3px;
        background-color: red ;
        margin-top: 8px;
        margin-right: 12px;
        margin-left: 12px;
    }
    .bar-footer p {
        font-size: 100px;
    }
    .copyright {
        font-size: 10px;
    }
    .text {
        display: flex;
        justify-content: space-around;
    }
    .social-media a {
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
    }
    .footer-nav ul {
        list-style-type: none;
        display: flex;
        margin-left: 17px;
    }
    .footer-nav li {
        margin-right: 20px;
    }
    .footer-nav a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
    }
    .footer-nav a:hover {
        text-decoration: underline;
    }




    /* .footer {
        background: #131313;
        padding: 30px 0px;
        font-family: "Play", sans-serif;
        text-align: center;
    }

    .footer .row {
        width: 100%;
        margin: 1% 0%;
        padding: 0.6% 0%;
        color: gray;
        font-size: 0.8em;
    }

    .footer .row a {
        text-decoration: none;
        color: yellow;
        transition: 0.5s;
    }

    .footer .row a:hover {
        color: rgb(240, 0, 150);
    }

    .footer .row ul {
        width: 100%;
    }

    .footer .row ul li {
        display: inline-block;
        margin: 0px 30px;
    }

    .footer .row a i {
        font-size: 2em;
        margin: 0% 1%;
    }
} */

/*bouton de retour en haut*/
    #toTop {
        display:none;
        position: fixed;
        bottom: 2em;
        right: 1em;
        z-index: 90;
        border: none;
        outline: none;
        /* background-color: rgb(0, 0, 0, 0.5); */
        color: white;
        cursor: pointer;
        padding: 2em;
        border-radius: 10px;
        font-size: 10pt;
        opacity: 0.5;
        
      }
      #toTop:hover {
        background-color: rgb(13, 13, 13);
      }