@media screen and (min-width:991px) {

    * {
        overflow: initial;
        overflow-x: initial;
    }

    /* HEADER VERSION DESKTOP*/
    .sticky {
        position: sticky;
        top: 0;
        z-index: 99;
        background-color: var(--backgroundColor);
    }

    header {

        height: 50vh;
        background-color: var(--backgroundColor);

    }

    .imageTitre {
        padding-top: 10vh;
        width: 100%;
    }

    .menu-toggle {
        display: none;
    }

    .mobile-menu.active {
        display: none;
    }

    .mobile-menu li {
        display: none;
    }

    .menu {
        display: visible;
    }

    .menu a {
        color: #f8f804;
        text-decoration: none;
        font-family: var(--h2font);
        text-transform: uppercase;
        font-size: 1.5em;
    }

    .listemenu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding : 1em 0em 1em 0em ;
        width: 100%;
        background-color: var(--backgroundColor);
    }

    .menu {
        position: sticky;
        top: 0px;
    }


    /* CARROUSEL VERSION DESKTOP*/

    .carouselAll {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }

  .carouselList {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 20rem);
    grid-template-rows: 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
    overflow: scroll;
    max-height: 30%;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;
    gap: 10rem;
  }


  .active {
    scroll-snap-type: unset;
  }

  .liCarousel {
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 0.4rem solid whitesmoke;
    color: var(--primaryColor);
    gap: 1em;
    background-color: rgb(27, 25, 25, 0.8);
    font-family: "orbitron";
    padding-top: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 1rem;
    border-radius: 2rem;
  }

  .imgCarousel {
    border: 0.2rem solid whitesmoke;
    width: 80%;
}

section {
    padding-top: 2em;
    padding-right:0px;
    padding-bottom: 2em;
    padding-left:0px;
}


    h2 {
        font-size: 4.5rem;

    }

      /*Singles*/ 
    
    .derniersSingles{padding-top:3em;}
    .listeChansons {padding-top:2em;
        display:flex;
        flex-direction:row;
        gap:1em;}
    

/*Quizz*/

    .consigneQuizz {padding-top:1em;
    font-weight: bold;}

    .partieQuizz {font-family: var(--primaryfont);
        font-size:1.2em;

        text-align: center;
        align-items: center;
        margin: auto;
        padding-top:2em;
        padding-bottom:1em;
        width:80%;
        color: #E3E3E3;
    background-color: var(--opacityColor);
}

.quizz  {padding-top:1em;
display:flex;
flex-direction:column;
justify-content: center;
align-items: center;
align-content: center;
gap:0.8em;
}
    

    /* TOURNÉE VERSION DESKTOP*/

    /*Jeu Concours*/

    .confirmationParticipation {
        font-weight: bold;
    }

    .jeuConcours {
        background-color: #131313 0.8;
        font-family: var(--primaryfont);
        width: 70%;
        margin: auto;
        margin-top: 2em;
        text-align: center;
        color: #E3E3E3;
        border-radius: 2rem;
        background-color: var(--opacityColor);
        border: 0.2rem solid var(--secondaryColor);
        border-radius: 1em;
        padding: 0.4em;
    }

    .labels {
        display: none
    }

    .caseformulaire {
        padding: 1em;
        width: 40%;
        background-color: #E3E3E3;
        border: solid 0.2em white;
    }

    .textjeuConcours {
        color: #e3e3e3;
        font-size: 1.3em;
        padding-right: 2em;
        padding-left: 2em;
        padding-top: 1em;
    }

    .consignesConcours {
        color: #E3E3E3;
        font-size: 1.1em;
        padding: 1em;
        padding-right: 5em;
        padding-left: 5em;
    }

   .formulaireJeu  {
        font-family: var(--primaryfont);
        margin: auto;
        text-align: center;
        color: #E3E3E3;
        border-radius: 2rem;
      
    }

   .formulaireJeu>div {
        margin-bottom: 20px;
    }

    .entreesForm {
        padding: 3px;
    }

    input,
    select {
        border-radius: 5px;
        border: none;
        font-family: var(--primaryfont);
    }

    .boutondenvoi {
        display: inline-block;
        padding: 1em;
        font-size: 1em;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        background-color: var(--backgroundColor);
        border: none;
        border-radius: 30px;
        font-size: 1rem;
        font-family: var(--h2font);
        color: var(--h1Color);
    }

    .boutondenvoi:hover {
        background-color: black;
    }

    .confirmationParticipation {
        padding-bottom: 2em;
    }

    .caseformulaire {
        padding: 1em;
        width: 50%;
        background-color: #E3E3E3;
        border: solid 0.2em #F8F804;
    }
    

    /*barre recherche pays*/
    .recherchePays {
        color: #E3E3E3;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: fit-content;
        width: 80%;
        margin: auto;
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 20px 20px 0 0;
        font-weight: bold;
        font-family: var(--primaryfont);
        background-color: rgb(0, 0, 0, 0.8);

    }

    .zoneRecherche {
        padding-left: 1em;
        padding-right: 1em;
        height: 2em;
    }

   

    /*tableau tournée*/
    .tableTournee {
        display: block;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        overflow: scroll;
       overflow-x:hidden;
        width: 80%;
        height: 80vh;
        padding: 0px;
        border-collapse: collapse;
        border-radius: 0 0 0 0;
        border: 2px solid #f4e724;
        border-radius: 0 0 20px 20px;
    }

    .tableTournee::-webkit-scrollbar {
        width: 0 !important;
    }

    .headtabletournee {
        display: table-header-group;
        visibility: visible;
        position: sticky;
        top: 0px;
        z-index: 1;
        width: auto;
    }

    td {
        color: #e3e3e3;
        display: table-cell;
        text-align: center;
        font-family: var(--primaryfont);
        padding: 1em;
        border: 1px solid #53534f ;
        border-left: none;
        border-right: none;
        border-top: none;
        border-collapse: collapse;
        background-color: rgb(0, 0, 0, 0.8);
    }

    tr {
        display: table-row;
    }

    th {
        background-color: #1B1919;
        color: #f4e724;
        visibility: show;
        text-align: center;
        font-family: var(--h2font);
        width: 50vw;
        padding:1em;
    }

    .lieuxTournee {
        font-style: italic;
        font-size:0.8em;
    }

    .datesTournee {
        font-weight: bold;
        border-top: none;
    }



    /* CLIP VERSION DESKTOP*/

    #clipcards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }

    #clip1,
    #clip2 {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;
        min-height: 3em;
        padding: 1em 1em;
        margin: auto;
        background-color: #1b1919;
        text-align: center;
        border: 0.4rem solid #f4e724;
        border-radius: 2rem;
        width: 500px;

    }

    #clip2 {
        margin-top: 0;
    }

    #ClipVideo1,
    #ClipVideo2 {
        /* background-color: rgb(128, 0, 128, 0.5); */
        text-align: center;
        border: 0.2rem solid #f4e724;
        border-radius: 2rem;
        height: 300px;
        width: 500px;
    }


    #clipinfo {
        display: flex;
        align-items: center;
        font-family: var(--primaryfont);
        color: var(--secondaryColor);
        padding-top: 0.5em;
        
    }

    /* HISTOIRE VERSION DESKTOP*/

    .history {
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("https://staticdelivery.nexusmods.com/mods/3333/images/249/249-1608297603-63850099.png");
        font-family: var(--primaryfont);
    }

    /*Rajout d'une div pour contrôler la fenêtre incluant le texte*/
    .history {
        height: 75%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("https://staticdelivery.nexusmods.com/mods/3333/images/249/249-1608297603-63850099.png");
        font-family: var(--primaryfont);
    }

    .history-text {
        height:50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
        width: 100%;
        background-color: var(--opacityColor);
    }

    .history p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15pt;
        opacity: 2;
        padding: 1em 2em;
        color: var(--altPrimaryColor);
        line-height: 1,5;
    }


    /* CREW VERSION DESKTOP ELIAS */

    .crew {
        display: flex;
        flex-direction: column;
        gap: 0px;
  
        margin-right: 10%;
        margin-left: 10%;
    }

    #crewPhoto1 {
        position: absolute;
        width: 150px;
        height: 150px;
        overflow: auto;
        border-radius: 25px;
        margin-left: -5%;
        margin-top: 0;
          /* background-color: #801468; */
    font-family: var(--primaryfont);
    /* border-radius: 25px; */
    background-color: var(--opacityColor);
    text-align: center;
    border: 0.2rem solid #f4e724;
    border-radius: 2rem;
       
       
    }

    #overlayCrewLeft {
        margin-left: 0;
        padding: 2% 2%;
           /* background-color: #801468; */
           font-family: var(--primaryfont);
           /* border-radius: 25px; */
           background-color: var(--opacityColor);
           text-align: center;
           border: 0.2rem solid #f4e724;
           border-radius: 2rem;
    }

    #crewLeft {
        padding-top: 0%;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    #crewRight {
        padding-bottom: 5%;
        padding-top: 5%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    .crewLeftTitle {
        text-align: right;
        padding-bottom: 3%;
        margin-left: 4em;
        justify-content: flex-start;
        display: flex;
        font-family: oswald;
        font-size: x-large;
    }

    .crewLeftInfo {
        margin-left: 6em;
        justify-content: flex-start;
        text-align: left;
        color:var(--secondaryColor);
    }

    #crewPhoto2 {
        position: absolute;
        width: 150px;
        height: 150px;
        overflow: auto;
        margin-top: 0;
        margin-right: -5%;
        border-radius: 2rem;
        color:var(--altPrimaryColor);
        text-align: center;
        border: 0.2rem solid #f4e724;
        border-radius: 2rem;
    }

    #overlayCrewRight {
        margin-right: 0;
        padding: 2% 2%;
           /* background-color: #801468; */
    font-family: var(--primaryfont);
    /* border-radius: 25px; */
    background-color: var(--opacityColor);
    text-align: center;
    border: 0.2rem solid #f4e724;
    border-radius: 2rem;
    }

    .crewRightTitle {
        text-align: right;
        padding-bottom: 3%;
        margin-right: 4em;
        justify-content: flex-end;
        display: flex;
        font-family: oswald;
        font-size: x-large;
    }

    .crewRightInfo {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        text-align: right;
        margin-right: 6em;
        color:var(--secondaryColor);
    }

    /* FOOTER VERSION DESKTOP */
    footer { font-family: var(--h2font);
        /* background: #131313; */
        color: var(--secondaryColor)
    }
    .footer-container {
        display: flex;
        background-color: var(--opacityColor);
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 240px;
        margin-top: 15px;
    }
    .bar-footer {
        width: 200px;
        height: 3px;
        background-color: var(--secondaryColor) ;
        margin-top: 8px;
        margin-right: 12px;
        margin-left: 12px;
    }
    .bar-footer p {
        font-size: 100px;
    }
    .Copyright p{
        color: var(--primaryColor);
        font-size: 10px;
    }

    .text {
        display: flex;
        color: var(--primaryColor);
        justify-content: space-around;
    }
    .social-media a {
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
        font-size: 30px;
        justify-content: space-around;
    }
    .footer-nav ul {
        list-style-type: none;
        display: flex;
        margin-left: 17px;
    }
    .footer-nav li {
        margin-right: 20px;
    }
    .footer-nav a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
    }
    .footer-nav a:hover {
        text-decoration: underline;
    }

   .Logo-footer {
    display: flex;

    width: 35%;

} 
   
    /*

    .footer .row {
        width: 100%;
        margin: 1% 0%;
        padding: 0.6% 0%;
        color: gray;
        font-size: 0.8em;
    }

    .footer .row a {
        text-decoration: none;
        color: yellow;
        transition: 0.5s;
    }

    .footer .row a:hover {
        color: rgb(240, 0, 150);
    }

    .footer .row ul {
        width: 100%;
    }

    .footer .row ul li {
        display: inline-block;
        margin: 0px 30px;
    }

    .footer .row a i {
        font-size: 2em;
        margin: 0% 1%;
    }
} */

/*bouton de retour en haut*/
    #toTop {
        display:none;
        position: fixed;
        bottom: 2em;
        right: 1em;
        z-index: 90;
        border: none;
        outline: none;
        background-color: rgb(0, 0, 0, 0.5);
        color: #f8f804;
        cursor: pointer;
        padding: 2em;
        border-radius: 10px;
        font-size: 10pt;
        opacity: 0.8;
        
      }
      #toTop:hover {
        background-color: #53534f;
      }
    
    
    
    
    }

